.model {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    box-sizing: border-box;
    // width: 60%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}
