.home {
  width: 100%;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url('/src/assets/image/homeBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    filter: blur(4px);
  }

  .question, .answer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 0;
    line-height: 2.8em;
  }

  .answer {
    display: flex;
    justify-content: flex-end;
  }

  .linkus {
    $avatarSize: 50px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto 0;
    border-radius: 16px;

    .parter {
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: $avatarSize;
        height: $avatarSize;
        object-fit: cover;
        border-radius: $avatarSize;
      }

      .name {
        color: #666;
      }
    }

    .like {
      height: $avatarSize;
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }

  .duration,
  .anniversary {
    margin: 20px auto 0;
    color: #fff;
    text-shadow: 4px 4px 8px #333;

    .highlight {
      margin: 0 0.5em;
      border-bottom: 2px solid #5becff;
      font-size: 18px;
      font-weight: bold;
      color: #5becff;
    }
  }

  .others {
    flex-grow: 1;
    width: 70%;
    margin: 30px auto 0;

    .link {
      outline: none;
      text-decoration: none;
      color: #fff;
    }
  }
}