.rejectModel {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    border-radius: 10px;
  }

  .info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}
