body {
    margin: 0;
    padding: 0;
    background-color: rgba(233, 97, 203, 0.591);
}

.container {
    background-color: rgba(255, 255, 255, 0.724);
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    color: rgba(233, 97, 203, 0.591);
}

.container .title {
    font-size: 24px;
    font-weight: bold;
}

.content p {
    font-size: 16px;
    text-indent: 2em;
}

p.toRight {
    display: flex;
    justify-content: end;
}

.avatar {
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    width: 100%;
}